.ComposerEmbeddedMessage {
  --accent-color: var(--color-primary);
  height: 3.125rem;
  /* stylelint-disable-next-line plugin/no-low-performance-animation-properties */
  transition: height 150ms ease-out, opacity 150ms ease-out;

  .select-mode-active + .middle-column-footer & {
    display: none;
  }

  &:not(.open) {
    height: 0 !important;
  }

  body.no-message-composer-animations & {
    transition: none !important;
  }

  &_inner {
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
  }

  & .embedded-left-icon {
    position: relative;
    flex-shrink: 0;
    background: none !important;
    height: 2.625rem;
    padding: 0.5625rem 0.75rem 0.5625rem 1rem;
    display: grid;
    place-content: center;
    font-size: 1.5rem;
    color: var(--accent-color);

    @media (max-width: 600px) {
      width: 2.875rem;
    }
  }

  & .embedded-cancel {
    flex-shrink: 0;
    background: none !important;
    width: auto;
    height: 1.5rem;
    padding: 0;
    margin: 0.5625rem 1rem 0.5625rem 0.75rem;
    align-self: center;
    color: var(--accent-color, var(--color-primary));

    @media (max-width: 600px) {
      margin: 0.5625rem 0.75rem 0.5625rem 0.5rem;
    }
  }

  .forward-context-menu {
    position: absolute;

    .bubble {
      width: auto;
    }
  }

  .quote-reply {
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
    font-size: 0.5rem;

    @media (max-width: 600px) {
      right: 0.625rem;
    }
  }
}

.edit-quote-modal {
  .modal-content {

    padding: 0 !important;
  }
  .InlineButtons {
    display: none;
  }
  .modal-header {
    display: flex;
    align-items: center;
    padding: 0.25rem 0.5rem;
  }
  .Message {
    padding-bottom: 1rem;
    padding-top: 1rem;

    background-color: var(--theme-background-color);
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .modal-dialog {
    width: fit-content;
  }
  .edit-quote-controls {
    display: flex;
    justify-content: end;
    margin-right: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 0.75rem;
  }
  .quote-control {
    width: fit-content;
    margin-right: 1rem;
  }
  .quote-hint {
    color: #648499;
    background-color: #232e3c;
    padding-top: 0.5rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    font-size: 0.75rem;
    margin-top: 1.5rem;
    &--light {
      background-color: #f1f1f1;
    }
  }
}
